* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background: #fff;
}
/* Main Section */

.main-section {
  display: flex;
}

/* Logo Name */

.logo-name{
  font-size: 32px;
}
.logo img {
  width: 56px;
  height: 34px;
}

/* Navbar */
.navbar {
  padding: 30px 0;
  margin-bottom: 100px;
}

.container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-links {
  display: flex;
  gap: 70px;
  font-size: 16px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.contact-btn {
  background-color: #2f5d50;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
}
.hamburger {
  display: none;
}


/*Coffe Shop*/

.grinds-section{
  display: flex;
  margin: 30px;
  align-items: center;
  gap: 120px;
}
.coffe-shop {
  display: flex;
  margin: 100px;
  display: flex;
  align-items: center;
  gap: 410px;
}
.coffe-labels {
  display: flex;
  flex-direction: column;     
  justify-content: center;     
  align-items: center;         
  text-align: center;          
  height: 50vh;              
  gap: 15px;
}

.coffe-motto{
  font-size: 19px;
}
.coffe-label {
  font-size: 46px;
}

.coffe-image {
 position: relative;
 width: 400px;
 height: 450px;
}

.coffe-box {
  position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 400px;
    background-color: #E3EBE7; 
    z-index: 1;
}
.coffe-image img {
    position: absolute;
    bottom: 0;
    right: 40px;
    width: 320px;
    z-index: 2;
 }


.icons {
  position: relative;
  right: 10px;
}
.social {
    position: relative;
    right: 130px;
    display: flex;
    transform: translateY(-50%);
    top: 190px;
}

/* Iconlar vertikal */
.icons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
    align-items: center;
}

.icons img {
    width: 25px;
    cursor: pointer;
}

/* Vertical text */
.follow-text { 
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 28px;
    letter-spacing: 2px;
}

.media-icons {
  left: 0px;
}
.media-icons img {
  height: 32px;
  width: 32px;
}


/* Coffe Cup */
.coffe-cup {
 display: flex;
 margin-top: 100px;
 margin: 50px;
 gap: 100px;
}

.cup-text {
flex: 1;
margin: 10px;

}
.cup-text h2{
font-size: 37px;
}

.cup-text p {
font-size: 15px;
line-height: 40px;
}
.cup {
 position: relative;
 width: 400px;
 height: 350px;
}
.coffe-cup-box{
   position: absolute;
    top: 0;
    right: 0;
    width: 380px;
    height: 347px;
    background-color: #FAE9E0; 
    z-index: 1;

}
.cup img {
    position: absolute;
    bottom: 0;
    right: 40px;
    width: 300px;
    height: 370px;
    z-index: 2;
 }

 /* American Capucion*/
 .coffe-day {
 display: flex;
 padding: 80px;
 margin-top: 100px;
 gap: 100px;
}
.coffe-day-text h2{
font-size: 37px;
}
.coffe-day-text p {
font-size: 15px;
line-height: 36px;
}
.capucino{
 position: relative;
 width: 400px;
 height: 350px;
}
.capucino-box{
   position: absolute;
    top: 0;
    right: 0;
    width: 380px;
    height: 327px;
    background-color: #E3EBE7; 
    z-index: 1;
}
.capucino img {
    position: absolute;
    bottom: 0;
    right: 40px;
    height: 380px;
    width: 270px;
    z-index: 2;
 }


/*Card Container*/
 .cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  margin-top: 100px;
  padding: 40px;
  background-color: #E3EBE7;
}
 .card {
  height: 440px;
  width: 320px;
  background-color: #FFFFFF;
  border-radius: 17px;
  box-shadow: 0px 5px 10px (rgba(0, 0, 0, 0.3));
  cursor: pointer;
}
.card-content {
 margin: 30px;
 padding: 30px 30px;
 line-height: 36px;
}
.card-content h4 {
  font-size: 28px;
  margin-bottom: 20px;
}
.order-button {
  margin: 30px;
}
.order-btn {
  background-color: #2f5d50;
  color: white;
  padding: 15px 29px;
  border-radius: 5px;
  text-decoration: none;
}
/*Map Section*/
.map-section {
  display: flex;
  padding: 80px;
}
.divider {
  width: 102px;  
  height: 2px;  
  background-color: #444A4A;
  margin: 25px;
}

.adress h2 {
  margin: 10px;
  font-size: 32px;
}
.adress p {
padding: 20px;
font-size: 19px;
}
/*Publisher*/
.publisher  {
text-align: center;
padding: 40px;
font-size: 15px;
}

@media (max-width: 375px) {
  .nav-links,.contact-btn, .follow-text, .icons img { 
    display: none;
  }
.hamburger {
   position: absolute;
    left: 1px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.hamburger span {
    width: 28px;
    height: 2px;
    background-color: #141414;
    border-radius: 5px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
   .main-section {
    display: flex;
    margin: 10px;
    gap: 10px;
    margin-right: 70px;
  }
  .logo img {
  width: 45px;
  height: 27px;
}
  .logo-name{
  font-size: 25px;
}
  .coffe-labels {
    flex-direction: column;    
    justify-content: center;   
    align-items: center;       
  }
  .coffe-image {
    display: none;
  }
    .media-icons {
    display: none;
  }
  .coffe-motto{
  font-size: 19px;
  left: 48px;
  height: 36px;
  width: 281px;
  line-height: 100%;
}
   .coffe-shop { 
   display: flex;
   align-items: center;
   margin: 20px;
   gap: 10px;
}
    .coffe-labels {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    height: 25vh;
    padding: 0 10px;  
  }
  .coffe-cup {
  flex-direction: column;
}
.cup-text {
margin: 10px;
}
.cup-text h2{
font-size: 38px;
width: 342px;
height: 76px;
line-height: 100%;
}

.cup-text p {
font-size: 19px;
line-height: 36px;
}
.coffe-cup-box {
  position: absolute;
    top: 10px;
    right: 0;
    margin: 90px;
    width: 450px;
    height: 240px;
    background-color: #FAE9E0; 
    z-index: 1;
}
.cup img {
  display: block;
    position: absolute;
    bottom: 40px;
    height: 200px;
    right: 100px;
    width: 280px;
    margin: 25px;
    z-index: 2;
 }
  /* American Capucion mobile */
  .coffe-day {
 display: flex;
 padding: 10px;
 margin-top: 90px;
 gap: 25px;
}
.coffe-day-text h2{
font-size: 37px;
}
.coffe-day-text p {
  width: 334px;
font-size: 17px;
line-height: 36px;
}

.capucino-box{
    display: none;
}
.capucino img {
 display: none;
 }
 /*Card section mobile*/
 .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 60px;
  margin-bottom: 70px;
  padding: 20px;
  background-color: #eff6f3;
}
 .card {
  height: 440px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 17px;
  box-shadow: 0px 5px 10px (rgba(0, 0, 0, 0.3));
  cursor: pointer;
}
.card-content {
 margin: 20px;
 padding: 9px 25px;
 line-height: 36px;
}
.card-content h4 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}
.order-button {  
  margin-top: 60px;
}
.order-btn {
 display: inline-flex;
  align-items: center;
  padding: 5px 40px;
  top: 40px;
  font-size: 20px;
  width: 200px;
  white-space: nowrap;
  border-radius: 9px;
}
/*Map Section Mobile*/
.map-section {
  flex-direction: column;
  padding: 15px;
}
.divider {
 display: none;
}

.adress h2 {
  text-align: center;
  margin: 10px;
  font-size: 32px;
}
.adress p {
padding: 25px;
font-size: 19px;
text-align: center;
}
.map-picture img {
  height: 260px;
  width: 320px
}
.publisher  {
text-align: center;
padding: 30px;
font-size: 15px;
line-height: 36px;
}

}