* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background: #fff;
}
/* Main Section */

.main-section {
  display: flex;
}

/* Logo Name */

.logo-name {
  font-size: 32px;
}
.logo img {
  width: 56px;
  height: 34px;
}

/* Navbar */
.navbar {
  padding: 40px 0;
  margin-bottom: 50px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 60px;
  font-size: 16px;
  list-style: none;
}
  
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

 /*Coffe Shop*/
 .contact-btn {
  background-color: #2f5d50;
  color: white;
  margin: 10px;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
}
.hamburger {
  display: none;
}
/*Coffe Shop*/

.grinds-section {
  display: flex;
  margin: 10px;
  align-items: center;
}

.coffe-shop {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Coffe Shop
.coffe-labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}*/
/*Coffe Shop*/
.coffe-motto {
  font-size: 19px;
}
.coffe-label {
  font-size: 46px;
}

.coffe-image {
  position: relative;
  width: 400px;
  height: 450px;
}

.coffe-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 400px;
  background-color: #e3ebe7;
  z-index: 1;
}
.coffe-image img {
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 320px;
  z-index: 2;
}

.icons {
  position: relative;
  right: 10px;
}
.social {
  position: relative;
  right: 10px;
  display: flex;
  transform: translateY(-50%);
  top: 190px;
}

/* Iconlar vertikal */
.icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px;
  align-items: center;
}

.icons img {
  width: 25px;
  cursor: pointer;
}

/* Vertical text */
.follow-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 28px;
  letter-spacing: 2px;
}

.media-icons {
  left: 0px;
}
.media-icons img {
  height: 32px;
  width: 32px;
}

/* Coffe Cup*/

.cup-section {
  max-width: 1440px;
  margin: 60px;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
   
.cup {
  display: flex;
}
.cup-text {
 width: 645px;
 height: 290px;
}
.cup-text h2 {
  font-size: 38px;
  line-height: 38px;
}
.cup-text p {
  font-size: 19px;
  line-height: 36px;
  font-weight: 400;
}
/* Coffe Cup*/
.cup-box {
  position: relative;
  top: 0;
  right: 0;
  width: 380px;
  height: 287px;
  background-color: #fae9e0;
  z-index: 1;
}
.cup img {
  position: relative;
  top: 60px;
  right: 320px;
  width: 364px;
  height: 262px;
  z-index: 2;
}

/* American Capucion*/
.americano-section {
  max-width: 1440px;
  margin: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.americano {
  display: flex;
}
.americano-text {
  width: 615px;
  height: 238px;
  line-height: 38px;
  top: 1239px;
}
.americano-text h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 100%;
}
.americano-text p {
  font-size: 19px;
  font-weight: 400;
  line-height: 36px;
}
.americano-box {
  position: relative;
  top: 0;
  right: 0;
  left: 315px;
  width: 410px;
  height: 276px;
  background-color: #e3ebe7;
  z-index: 1;
}
.americano img {
  position: relative;
  bottom: 25px;
  width: 236px;
  height: 320px;
  border: 4px;
  z-index: 2;
}

/*Card Container*/
.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  margin-top: 100px;
  padding: 40px;
  background-color: #e3ebe7;
}
.card {
  height: 440px;
  width: 320px;
  background-color: #ffffff;
  border-radius: 17px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.card-content {
  margin: 30px;
  padding: 30px 30px;
  line-height: 36px;
}
.card-content h4 {
  font-size: 28px;
  margin-bottom: 20px;
}
.order-button {
  margin: 30px;
}
.order-btn {
  background-color: #2f5d50;
  color: white;
  padding: 15px 29px;
  width: 235px;
  border-radius: 5px;
  text-decoration: none;
}
/*Map Section*/
.map-section {
  display: flex;
  margin: 150px;
}
.divider {
  width: 102px;
  height: 2px;
  background-color: #444a4a;
  margin: 25px;
}

.adress h2 {
  margin: 10px;
  font-size: 32px;
}
.adress p {
  padding: 20px;
  font-size: 19px;
}
/*Publisher*/
.publisher {
  text-align: center;
  padding: 40px;
  font-size: 15px;
}

@media (max-width:768px){

 .follow-text, .icons img { 
    display: none;
  }
  .logo {
    margin-left: 10px;
  }
  .logo img {
  width: 56px;
  height: 27px;
}
  .logo-name{
  font-size: 25px;
}
.nav-links {
  gap: 30px;
}
/*
.coffe-shop{
flex-direction:column;
align-items:center;
text-align:center;
gap:40px;
}*/

.grinds-section{
flex-direction:column;
align-items:center;
}

.coffe-image{
width:100%;
max-width:350px;
height:auto;
}

.social{
display:none;
}

.coffe-label{
font-size:36px;
}

.coffe-motto{
font-size:16px;
}

.coffe-image {
  position: relative;
  width: 100%;
  height: 400px;
  align-items: center;
}
.coffe-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 20px;
  width: 350px;
  height: 400px;
  background-color: #e3ebe7;
  z-index: 1;
}
.coffe-image img {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 40px;
  width: 280px;
  z-index: 2;
}
/* Cup section */

.cup{
 flex-direction:column;
 align-items:center;
 text-align:center;
}

.cup img{
 right:0;
 top: 0;
 width:300px;
}

.cup-box{
 right:0;
 width:100%;
 max-width:400px;
}
/* Americano section */

.americano{
 flex-direction:column;
 align-items:center;
 text-align:center;
}

.americano img{
  bottom: 290px;
 width: 220px;
 height: auto;
}

.americano-box{
 left:0;
 width:100%;
 height: 350px;
 max-width:350px;

}

/* Cards */

.cards-container{
 gap: 40px;
 padding: 35px;
}

/* Map section */

.map-section{
 flex-direction:column;
 align-items:center;
 text-align:center;
 gap: 30px;
 margin: 80px 20px;
}

.divider{
 display:none;
}

.map-picture img{
 width:100%;
 max-width:500px;
}
@media (max-width:480px){
    .nav-links,.contact-btn, .follow-text, .icons img, .grinds-section { 
    display: none;
  }
.hamburger {
   position: absolute;
    left: 1px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 30px;
}
.hamburger span {
    width: 28px;
    height: 2px;
    background-color: #141414;
    border-radius: 5px;
  }
  .container {
    display: flex;
    justify-content: center;
  }
   .main-section {
    display: flex;
    margin: 10px;
    margin-right: 170px;
  }
  .logo img {
  width: 50px;
  height: 30px;
}
.logo-name {
    font-size: 23px;
    margin: 5px;
}
.coffe-labels {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.coffe-shop{
  margin: 50px;
}
.coffe-motto{
    font-size: 16px;
}

.coffe-label{
    font-size:28px;
}

.order-btn{
    padding: 10px 20px;
    font-size: 14px;
}

.coffe-image img{
    width: 220px;
}

.cup-box {
  position: relative;
  top: 30px;
  right: 100px;
  width: 380px;
  height: 170px;
  background-color: #fae9e0;
  z-index: 1;
}

.cup img{
  position: relative;
  top: -150px;
  bottom: 0;
  right: 80px;
  width: 264px;
  height: 162px;
  z-index: 2;
  width: 200px;
}

.cup-text {

 width: 342px;
 text-align: center;
}
.cup-text h2{
    font-size: 38px;
    font-weight: 700;
}

.cup-text p{
    font-size: 14px;
}

.americano img{
    width: 200px;
}

.americano-text h2{
    font-size: 22px;
}

.americano-text p{
    font-size: 14px;
}

.cards-container{
    flex-direction: column;
    align-items: center;
}

.card{
    width: 90%;
}

.map-picture img{
    width: 100%;
    height: 300px;
}

.adress h2{
    font-size: 22px;
}

.adress p{
    font-size: 14px;
}

.publisher p{
    font-size: 12px;
}

}

}

