* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background: #fff;
}
/* Main Section */

.main-section {
  display: flex;
}

/* Logo Name */

.logo-name {
  font-size: 32px;
}
.logo img {
  width: 56px;
  height: 34px;
}

/* Navbar */
.navbar {
  padding: 40px 0;
  margin-bottom: 50px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 60px;
  font-size: 16px;
  list-style: none;
}
  
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

 /*Coffe Shop*/
 .contact-btn {
  background-color: #2f5d50;
  color: white;
  margin: 10px;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
}
.hamburger {
  display: none;
}
/*Coffe Shop*/
.grinds-section {
  display: flex;
  margin: 10px;
  align-items: center;
}

.coffe-shop {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*Coffe Shop*/
.coffe-labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
/*Coffe Shop*/
.coffe-motto {
  font-size: 19px;
}
.coffe-label {
  font-size: 46px;
}

.coffe-image {
  position: relative;
  width: 400px;
  height: 450px;
}

.coffe-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 400px;
  background-color: #e3ebe7;
  z-index: 1;
}
.coffe-image img {
  position: absolute;
  bottom: 0;
  right: 40px;
  width: 320px;
  z-index: 2;
}

.icons {
  position: relative;
  right: 10px;
}
.social {
  position: relative;
  right: 10px;
  display: flex;
  transform: translateY(-50%);
  top: 190px;
}

/* Iconlar vertikal */
.icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px;
  align-items: center;
}

.icons img {
  width: 25px;
  cursor: pointer;
}

/* Vertical text */
.follow-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 28px;
  letter-spacing: 2px;
}

.media-icons {
  left: 0px;
}
.media-icons img {
  height: 32px;
  width: 32px;
}

/* Coffe Cup*/

.cup-section {
  max-width: 1440px;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
}
   
.cup {
  display: flex;
}
.cup-text {
 width: 640px;
 height: 290px;
}
.cup-text h2 {
  font-size: 38px;
  line-height: 38px;
}
.cup-text p {
  font-size: 19px;
  line-height: 40px;
  font-weight: 400;
}

.cup-box {
  position: relative;
  top: 0;
  left: 80px;
  width: 380px;
  height: 287px;
  background-color: #fae9e0;
  z-index: 1;
}
.cup img {
  position: relative;
  top: 70px;
  right: 260px;
  width: 364px;
  height: 262px;
  z-index: 2;
}

/* American Capucion*/
.americano-section {
  max-width: 1440px;
  margin: 80px;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
}
   
.americano {
  display: flex;
}
.americano-text {
 width: 645px;
 height: 290px;
}
.americano-text h2 {
  font-size: 38px;
  line-height: 38px;
}
.americano-text p {
  font-size: 19px;
  line-height: 36px;
  font-weight: 400;
}

.americano-box {
  position: relative;
  top: 0;
  left: 140px;
  width: 410px;
  height: 276px;
  background-color:#E3EBE7
}
.americano img {
  position: relative;
  width: 236px;
  right: 190px;
  bottom: 30px;
  height: 320px;
  z-index: 2;
}

/*Card Container*/
.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  margin-top: 100px;
  padding: 40px;
  background-color: #e3ebe7;
}
.card {
  height: 440px;
  width: 320px;
  background-color: #ffffff;
  border-radius: 17px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.card-content {
  margin: 30px;
  padding: 30px 30px;
  line-height: 36px;
}
.card-content h4 {
  font-size: 28px;
  margin-bottom: 20px;
}
.order-button {
  margin: 30px;
}
.order-btn {
  background-color: #2f5d50;
  color: white;
  padding: 15px 29px;
  width: 235px;
  border-radius: 5px;
  text-decoration: none;
}
/*Map Section*/
.map-section {
  display: flex;
  margin: 150px;
}
.divider {
  width: 102px;
  height: 2px;
  background-color: #444a4a;
  margin: 25px;
}

.adress h2 {
  margin: 10px;
  font-size: 32px;
}
.adress p {
  padding: 20px;
  font-size: 19px;
}
/*Publisher*/
.publisher {
  text-align: center;
  padding: 40px;
  font-size: 15px;
}
@media(max-width: 1220px ) {
  /* Logo Name */

.container {
  max-width: 1220px;
}
.main-section {
  margin: 30px;
}
.logo-name {
  font-size: 25px;
}
.logo img {
  width: 50px;
  height: 28px;
}
/* Navbar */
.navbar {
  padding: 50px 0;
}
.nav-links {
  gap: 50px;
}
.nav-links a {
  color: black;
  font-size: 20px;
}
 .contact-btn {
  margin: 40px;
}
/*Coffe Shop*/
.coffe-shop {
  max-width: 1220px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.coffe-labels {
  margin: 30px;
}
/* Coffe Cup*/

.cup-section {
  max-width: 1220px;
  margin-bottom: 170px;
}

.cup-text {
 width: 500px;
}
.cup-text h2 {
  line-height: 50px;
}
.cup-text p {
  font-size: 16px;
  line-height: 33px;
}

.cup-box {
  left: 30px;
  width: 350px;
  height: 300px;
}
.cup img {
  top: 100px;
  right: 300px;
  width: 364px;
  height: 240px;
}

}